
#tree {
    position: absolute;
}

#bee_shop {
    position: absolute;
    top: 134vh;
    right: 28vw;
    width: 34vmax;
}

#fitness {
    position: absolute;
    top: 155vh;
    right: 41vw;
}

#food {
    position: absolute;
    top: 129vh;
    right: -15vw;
}

#salon {
    position: absolute;
    top: 153vh;
    right: -18vw;
}

#shop {
    position: absolute;
    top: 122vh;
    right: -79vw;
}

#uni {
    position: absolute;
    top: 157vh;
    right: -88vw;
}