body{
    background-image: url(./assets/background.jpg);
}
#tree {
    position: absolute;
    width: 47vmax;
}

#bee_shop {
    position: absolute;
    top: 51vh;
    right: 34vw;
    width: 26vmax;
}

#fitness {
    position: absolute;
    top: 79vh;
    right: 53vw;
    width: 11vmax;
}
#pod {
    position: absolute;
    top: 63vh;
    right: 51vw;
    width: 14vmax;
}

#salon {
    position: absolute;
    top: 49vh;
    right: 4vw;
    width: 14vmax;
}

#food {
    position: absolute;
    top: 64vh;
    right: 6vw;
    width: 11vmax;
}

#uni {
    position: absolute;
    top: 79vh;
    right: 0vw;
    width: 17vmax;
}

#info{
    display: none;
    position: absolute;
    top: 23vh;
    right: 6vw;
    width: 88vw;
    height: 53vh;
    background-color: cornsilk;
}
#x{
    position: absolute;
    right: 2vw;
}
#text{
    position: relative;
    direction: rtl;
    top: 4vh;
    right: 5vw;
}